* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(italia.png);
  background-size: cover;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  margin-top: 200px;
}

button {
  border: none;
  color: white;
  font-weight: bold;
  width: 200px;
  height: 50px;
  border-radius: 5px;
}

#increment-btn {
  background: rgb(201, 24, 24);
}

#save-btn {
  background: rgb(44, 160, 44);
}
